<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Crear Materia</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/animate.css">
</head>
<body>
    <div class="container">
        <% const estaCreando = typeof materia === "undefined"%>

        <h1><%= estaCreando ? 'Crear': 'Actualizar'%> materia</h1>
        <p><%= estaCreando ? 'Cree': 'Actualice'%> una materia</p>

        <form action="/materia/<%= estaCreando ? 'crear' : 'actualizar'%>-materia/<%= estaCreando ? '': materia.materiaId%>" method="post">
            <div>
                <label for="nombreMateria">Materia</label>
                <input id="nombreMateria"
                       name="nombreMateria"
                       type="text"
                       value="<%= estaCreando ? '' : materia.nombreMateria%>"
                       required
                >
            </div>

            <div>
                <label for="codigo">Codigo</label>
                <input id="codigo"
                       name="codigo"
                       type="text"
                       value="<%= estaCreando ? '' : materia.codigo%>"
                       required
                >
            </div>

            <div>
                <label for="descripcion">Descripcion</label>
                <input id="descripcion"
                       name="descripcion"
                       type="text"
                       value="<%= estaCreando ? '' : materia.descripcion%>"
                >
            </div>

            <label for="activo"><b>Activo</b></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="activo" id="activo" value="1" checked>
                <label class="form-check-label" for="activo">
                    Si
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="activo" id="activo" value="0">
                <label class="form-check-label" for="activo">
                    No
                </label>
            </div>

            <div>
                <label for="fechaCreacion">Fecha de Creacion</label>
                <input id="fechaCreacion"
                       name="fechaCreacion"
                       type="date"
                       value="<%= estaCreando ? '' : materia.fechaCreacion%>"
                       required
                >
            </div>

            <div>
                <label for="numeroHorasPorSemana">Horas por Semana</label>
                <input id="numeroHorasPorSemana"
                       name="numeroHorasPorSemana"
                       type="number"
                       value="<%= estaCreando ? '' : materia.numeroHorasPorSemana%>"
                       required
                >
            </div>

            <div class="form-group">
                <label for="estudiantes">Lista de Estudiantes</label>
                <select class="form-control"
                        name="estudiante"
                        id="estudiante"
                        required
                >
                </select>

            </div>

            <button type="submit"><%= estaCreando ? 'Crear': 'Actualizar'%> materia</button>

        </form>
        <a href="/materia/materias">
            <button>Regresar</button>
        </a>


    </div>

    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>

    <script>
      let selectEstudiantes = document.getElementById('estudiante')
      const url = 'http://localhost:3000/estudiante/listar';
      $.get(
        url, (datos) => {
          console.log(datos)
          const arregloEstudiantes = datos;
          matarHijos();
          llenarEstudiantes(arregloEstudiantes);
        }
      )

      function llenarEstudiantes(arregloEsudiantes) {
        arregloEsudiantes
          .forEach( (estudiante) => {
              const nuevaOption = document.createElement('option');
              nuevaOption.value = estudiante.estudianteId;
              nuevaOption.innerText = estudiante.nombres;
              nuevaOption.localName = 'estudiante_nombre'
              selectEstudiantes.appendChild(nuevaOption);
            }
          )
      }

      function matarHijos() {
        while (selectEstudiantes.firstChild) {
          selectEstudiantes.removeChild(selectEstudiantes.firstChild);
        }
      }
    </script>
</body>
</html>