<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;  /* The height is 400 pixels */
            width: 100%;  /* The width is the width of the web page */
        }
    </style>
    <title>Eventos</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/animate.css">
</head>
<body>


<div class="container">
    <div class="row" style="padding-top: 100px;">
        <div class="col-md-2"></div>
        <div class="col-md-8 border" id="contenido" >

            <h1><%= evento.nombreEvento %></h1>
            <!-- Modal Content -->
            <div class="row">
                <div class="col-md-6">
                    <h2 class="titulo">Detalles</h2>
                    <ul>
                        <li  class="list-group-item list-group-item-action bg-success"><%= evento.nombreEvento %></li>
                        <li  class="list-group-item list-group-item-action"><strong>Fecha: </strong><%= evento.fechaEvento %></li>
                        <li  class="list-group-item list-group-item-action"><strong>Latitud: </strong><%= evento.latitud %></li>
                        <li  class="list-group-item list-group-item-action"><strong>Longitud: </strong><%= evento.longitud %></li>

                    </ul>

                <div class="col-md-6 list-group">
                    <h2>Materias</h2>
                    <li  class="list-group-item list-group-item-action active bg-dark animated fadeInDown"><strong><%= materia.nombreMateria %></strong></li>
                    <li  class="list-group-item list-group-item-action animated fadeInLeft"><strong>Codigo: </strong><%= materia.codigo %></li>
                    <li  class="list-group-item list-group-item-action bg-success animated fadeInUpBig text-white"><strong>Descripcion: </strong><%= materia.descripcion %></li>
                    </ul>
                    <br>
                </div>
                    <h2 class="titulo">Localizacion del Evento</h2>
                    <div id="map"></div>
            </div>

        </div>
        <div class="col-md-2"></div>
    </div>
    </div>
</div>
<script src="/js/jquery.js"></script>
<script src="/js/popper.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
<script>
  function initMap() {
    var epn = {lat: -0.210334, lng: -78.487999};
    var map = new google.maps.Map(
      document.getElementById('map'), {zoom: 15, center: epn});
    var marker = new google.maps.Marker({position: epn, map: map});
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxnTF_SlMitUfJJb_P6P8ltuLDBZShlIM&callback=initMap">
</script>
</body>
</html>